/*
===================================================
   INTRODUCTION TEXT UNDER MAIN VIDEO
===================================================
*/

/*MOBILE SIZING*/ //////////////////////////////////
.main-video {
  background-color: $black;
  height: 57.19vw;
  &__video {
    width: 100%;
    height: 57.19vw;
    &:focus {
      outline-width: 0;
    }
  }
}
/*TABLET SIZING*/ //////////////////////////////////
@include medium {
  .main-video {
    display: flex;
    justify-content: center;
    height: 52.084vw;
    &__video {
      height: 52.084vw;
      width: 91vw;
    }
  }
}
/*ABOVE TABLET SIZING*/ //////////////////////////////////

@include above-tablet {
  .main-video {
    height: 38vw;
    &__video {
      height: 38vw;
      width: 900px;
    }
  }
}

/*DESKTOP SIZING*/ //////////////////////////////////
@include large {
  .main-video {
    height: 33.75rem;
    &__video {
      width: 960px;
      height: 33.75rem;
    }
  }
}
